<ul>
  <%= form_for @user do |f| %>
    <li>
      <%= f.email_field :first_name %>
    </li>
    <li>
      <%= f.email_field :last_name %>
    </li>
    <li>
      <%= f.email_field :name %>
    </li>
    <li>
      <%= f.email_field :email %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li><%= f.submit 'Signup' %></li>
  <% end %>
</ul>
