<ul>
  <%= form_for @user do |f| %>
    <li>
      <%= f.email_field :first_name, placeholder: "First Name"  %>
    </li>
    <li>
      <%= f.email_field :last_name, placeholder: "Last Name"  %>
    </li>
    <li>
      <%= f.email_field :name, placeholder: "Username"  %>
    </li>
    <li>
      <%= f.email_field :email, placeholder: "Email"  %>
    </li>
    <li>
      <%= f.password_field :password, placeholder: "Password"  %>
    </li>
    <li><%= f.submit 'Signup' %></li>
  <% end %>
</ul>
